name = "bucketlist"
main = "dist/_worker.js/index.js"
compatibility_date = "2026-02-04"
minify = true
workers_dev = false

[placement]
mode = "smart"

[assets]
directory = "./dist"
not_found_handling = "single-page-application"

[[routes]]
pattern = "<subdomain.example.com>/*"
zone_name = "<example.com>"
